---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <a href="/blog-astro-tailwindcss/">Home</a>
        <a href="/blog-astro-tailwindcss/about/">About</a>
        <a href="/blog-astro-tailwindcss/blog/">Blog</a>
        <h1>About me</h1>
        <h2>...and my new Astro site!</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae magni
            distinctio autem sit reiciendis! Doloremque iure, quam, recusandae
            rem qui eaque sapiente eius unde, autem facere distinctio. Quod,
            error tempora.
        </p>

        <p>I will update this site as soon as possible</p>
    </body>
</html>
