---
const { Site } = Astro.props;
---
<div id="main-menu" class="nav-links">
    <a href="/blog-astro-tailwindcss/">Home</a>
    <a href="/blog-astro-tailwindcss/about/">About</a>
    <a href="/blog-astro-tailwindcss/blog/">Blog</a>
</div>
