---

---

<div id="main-menu" class="nav-links">
    <a href="/blog-astro-tailwindcss/">Home</a>
    <a href="/blog-astro-tailwindcss/about/">About</a>
    <a href="/blog-astro-tailwindcss/blog/">Blog</a>
    <a href="/blog-astro-tailwindcss/tags/">Tags</a>
</div>
